<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kysymyspankki</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Kysymyspankki</h1>
        
        <p>Tervetuloa kysymyspankkiin! Tällä sivulla voit lisätä, poistaa ja tarkastella kysymyksiä.</p>
        <p>Klikkaamalla kysymystä voit lisätä, poistaa ja tarkastella siihen liittyviä vastauksia.</p>
        
        <ul>
            <li th:each="kysymys : ${kysymykset}">
                Kurssi:
                <span th:text="${kysymys.getKurssi}"></span><br/>
                Aihe: 
                <span th:text="${kysymys.getAihe}"></span><br/>
                Kysymysteksti:
                <a th:href="${'/kysymykset/' + kysymys.getId}"><span th:text="${kysymys.getKysymysteksti}">kysymys</span></a>
                <form th:action="@{~/kysymys/poista/{id}(id=${kysymys.getId})}" method="POST">
                    <input type="submit" value="Poista"/>
                </form><br />
            </li>
        </ul>
        
        <h2>Lisää uusi kysymys</h2>
        
        <form method="POST" action="/luo">
            Kurssi:
            <input type="text" name="kurssi"/><br/>
            Aihe:
            <input type="text" name="aihe"/><br />
            Kysymysteksti:
            <input type="text" name="kysymysteksti"/><br/>
            <input type="submit" value="Lisää kysymys"/>
        </form>


    </body>
</html>